<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<title>Tambah Keluarga</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#table').DataTable();
	});
</script>
</head>

<body>
	<div th:replace="fragments/fragment :: header"></div>
	<h1 class="page-header">Tambah Keluarga</h1>

	<form action="/keluarga/tambah" method="post" >
		<div>
			<label for="nama">Alamat</label> <input type="text" name="alamat" />
		</div>
		
		<div>
			<label for="nama">RT</label> <input type="text" name="rt" />
		</div>
		
		<div>
			<label for="nama">RW</label> <input type="text" name="rw" />
		</div>
		
		<div>
			<label for="nama">Kelurahan/Desa</label> <input type="text" name="kelurahan" />
		</div>
		
		<div>
			<label for="nama">Kecamatan</label> <input type="text" name="kecamatan" />
		</div>
		
		<div>
			<label for="nama">Kota</label> <input type="text" name="kecamatan" />
		</div>
		
		<div>
			<button type="submit" name="action" value="save">Submit</button>
		</div>
	</form>

</body>

</html>


